:root {
    --light-gray: #f5f5f4;
    --dark-red: #4b0f23;
    --black: #000;
    --white: #fff;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--black);
    background-color: var(--light-gray);
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  h1,
  h2,
  h3 {
    font-family: "Playfair Display", serif;
  }
  
  nav {
    background-color: var(--dark-red);
    color: var(--white);
    padding: 1rem 0;
  }
  
  nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav a {
    color: var(--white);
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  header img {
    width: 100%;
    height: 100%;
  }
  
  
  header h2 {
    color: var(--white);
    font-size: 2.5rem;
  
    z-index: 1;
  }
  
  .section-container {
    padding: 4rem 0;
  }
  
  section:nth-child(even) {
    background-color: var(--white);
  }
  
  section h2{
    color: var(--dark-red);
    text-align: center;
    margin-bottom: 2rem;
  }
  
  section h3{
    color: var(--dark-red);
    margin-bottom: 2rem;
  }
  .especialidade1, .especialidade2 {
   
    font-weight: 900;
  }
  
  .container.container-adv p{
    margin-bottom: 1rem;
    text-align: justify;
  }
  .container.container-adv ul{
    margin-bottom: 10px;
  }
  .container.container-adv ul li{
   list-style: square;
  }
  
  #contato {
    text-align: center;
  }
  
  .advogados-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
  }
  
  .advogado {
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .advogado  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin: 2rem 0;
  }
  
  .social-icons a {
    color: var(--dark-red);
    font-size: 2rem;
  }
  
  footer {
    background-color: var(--dark-red);
    color: var(--white);
    text-align: center;
    padding: 2rem 0;
  }
  
  @media (max-width: 768px) {
    nav .container {
      flex-direction: column;
    }
  
    nav ul {
      margin-top: 1rem;
    }
  
    nav ul li {
      margin-left: 10px;
      margin-right: 10px;
    }
    section h3 {
      text-align: center;
    }
  }